/* ----- Specification ----- */

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	background: url(../img/bg.jpg) no-repeat center center/cover;
	color: #404048;
	font-size: 14px;
	letter-spacing: 0.02em;
	position: relative;
}

div,
p,
a,
span {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #081d42;
	padding: 0;
	margin: 0;

}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 29px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 23px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 13px;
}

a,
a:focus,
a:hover,
a:active  {
	transition: all 0.4s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

.btn:focus {
	box-shadow: none;
}

.btn {
	border-radius: 0;
	background: #1cb883;
	border-bottom: 4px solid #149d6f;
	color: #fff;
	text-align: center;
	width: 156px;
}

.btn:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.btn:active {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

/* Navigtion */
.main {
	position: relative;
	height: 90px;
	width: 50%;
	padding: 0 70px;
	left: 50%;
	position: absolute;
	bottom: 5%;
	overflow: hidden;
	transform: translateX(-50%);
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	z-index: 5;
}

.substrate {
	height: 45px;
	width: 100%;
	padding: 0 30px;
	left: 50%;
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	-webkit-clip-path: polygon(0% 100%, 3% 0%, 97% 0%, 100% 100%);
    clip-path: polygon(0% 100%, 3% 0%, 97% 0%, 100% 100%);
	background: rgba(138,138,138,1);
	background: -moz-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(235,235,235,0.25) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,138,138,1)), color-stop(100%, rgba(235,235,235,0.25)));
	background: -webkit-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(235,235,235,0.25) 100%);
	background: -o-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(235,235,235,0.25) 100%);
	background: -ms-linear-gradient(top, rgba(138,138,138,1) 0%, rgba(235,235,235,0.25) 100%);
	background: linear-gradient(to bottom, rgba(138,138,138,1) 0%, rgba(235,235,235,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#ebebeb', GradientType=0 );	display: -webkit-flex;
	z-index: 1;
}
.nav {
	position: relative;
    padding-top: 5px;
	z-index: 6;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.nav__item {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 20px;
	position: relative;
    transition: all 0.5s ease;
}

.nav__item:hover {
	transform: scale(1.2);
}

.nav__item_calc {
	background: url(../img/calculating.svg) no-repeat center center / cover;
}

.nav__item_calc:after {
    content: '';
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -45px;
    opacity: 0.4;
    border-radius: 3px;
    filter: blur(2px);
    transform: scale(1, -1);
    background: url(../img/calculating.svg) no-repeat center bottom / 60px;
}

.nav__item_post {
	background: url(../img/post.svg) no-repeat center center / cover;
}

.nav__item_post:after {
    content: '';
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -42px;
    opacity: 0.4;
    border-radius: 3px;
    filter: blur(2px);
    transform: scale(1, -1);
    background: url(../img/post.svg) no-repeat center bottom / 60px;
}

.nav__item_weather {
	background: url(../img/sun.svg) no-repeat center center / cover;
}

.nav__item_weather:after {
    content: '';
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -42px;
    opacity: 0.4;
    border-radius: 3px;
    filter: blur(2px);
    transform: scale(1, -1);
    background: url(../img/sun.svg) no-repeat center bottom / 60px;
}

/* Calculator */

.calculator {
	width: 100%;
	max-width: 350px;
	background: #fff;
	border: 1px solid #eee;
	position: fixed;
	top: 40%;
	left: 50%;	
	transform: translate(-50%, -50%);
	padding: 40px 0px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: none;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.calculator__num-button,
.calculator__func-button {
	display: block;
	width: 40px;
	height: 40px;
	letter-spacing: 0;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #eee;
}

.calculator__num-button:hover,
.calculator__func-button:hover {
	cursor: pointer;
}

.calculator__num-button {
	line-height: 27px;
}

.calculator__num-button:first-child {
	order: 1;
}

.func-button__min {
	line-height: 24px;
}

.calculator__func-button_equ {
	order: 1;
}

.func-button__dot {
	line-height: 15px;
}

.func-button__mul {
	line-height: 35px;
}

.calculator__display {
	height: 50px;
	border: 1px solid #eee;
	margin-bottom: 20px;
	width: 80%;
}

.calculator__num-buttons,
.calculator__func-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.calculator__num-buttons {
	width: 55%;
}

.calculator__func-buttons {
	width: 40%;
}




/*unworked shit*/

.calculator_open {
	display: flex;
	/*animation: open 1s ease-in;*/
}

.calculator_close {
	/*animation: close 1s ease-in;*/
}


/*@keyframes open {

	0% {
		transform: translateY(200vh);
	}

	50% {
		transform: translateY(100vh);
	}

	100% {
		transform: translateY(0);
	}
}*/

@keyframes close {
/*	0% {
		display: flex;
		transform: translateY(0);
	}

	50% {
		transform: translateY(100vh);
	}

	100% {
		transform: translateY(200vh);
		display: none;
	}
}*/